.nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

/* Add transition effect for font color on hover */
.nav a:hover {
    color: #1e3151;
}