.nav {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-bottom: 40px;
    align-content: center;
    justify-content: center;
}

/* Add transition effect for font color on hover */
.nav a:hover {
    color: #1e3151;
}